* {
	margin: 0;
	padding: 0;
	transition: 0.05s ease-in;
	/*DIMENSIONS*/
	--dim1: 11vw;
	--dim2: 0.5vw;
}

/*LIBRARY*/
#title {
	margin: auto;
	flex-direction: column;
	height: calc(2 * var(--dim1));
}
#title > h1 {
	font-family: Roboto, sans-serif;
	font-size: 10vw;
}
#title > p {
	font-family: Heebo, sans-serif;
	font-size: 2vw;
}
.calendar-frame {
	padding: var(--dim2);
	width: 84vw;
	margin: auto;
	flex-wrap: wrap;
}
.day-frame {
	margin: var(--dim2);
	height: var(--dim1);
	width: var(--dim1);
}
.day-number {
	font-family: Roboto, sans-serif;
	font-size: 5vw;
	text-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
}
.day-label {
	width: var(--dim1);
	position: absolute;
	color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	font-size: 1vw;
	font-family: Heebo, sans-serif;
}
.real:hover > .day-label {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.5);
}
.real {
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
.real:hover {
	transform: scale(1.1, 1.1);
}
.real:hover > .day-number {
	color: rgba(0, 0, 0, 0);
	text-shadow: 0 0 10vw rgba(0, 0, 0, 0);
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*DAYS*/
#one {

	background-image: url("https://picsum.photos/id/35/200/300");
	background-position: center bottom;
}
#two {

	background-image: url("https://picsum.photos/id/37/200/300");
	background-position: center top;
}
#three {

	background-image: url("https://picsum.photos/id/46/200/300");
	background-position: center;
}
#four {

	background-image: url("https://picsum.photos/id/1/200/300");
	background-position: center;
}
#five {

	background-image: url("https://picsum.photos/id/1/200/300");
	background-position: left center;
}
#six {
	
	background-image: url("https://picsum.photos/id/1/200/300");
	background-position: left center;
}
#seven {
	background-image: url("https://picsum.photos/id/1/200/300");
	background-position: center;
}
#eight {
	background-image: url("https://picsum.photos/id/1/200/300");
	background-position: center;
}
#nine {
		background-image: url("https://picsum.photos/id/1/200/300");
	background-position: center;
}
#ten {
		background-image: url("https://picsum.photos/id/1/200/300");
	background-position: left bottm;
}
#eleven {
		background-image: url("https://picsum.photos/id/1/200/300");
	background-position: center;
}
#twelve {
	background-image: url("https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1459&q=80");
	background-position: center;
}
#thirteen {
	background-image: url("https://images.unsplash.com/photo-1619528395742-4e41ab87403b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=881&q=80");
	background-position: center;
}
#fourteen {
	background-image: url("https://images.unsplash.com/photo-1585768750637-ada36319a484?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
	background-position: center;
}
#fifteen {
	background-image: url("https://images.unsplash.com/photo-1588756264692-d396bca41fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
	background-position: center;
}
#sixteen {
	background-image: url("https://images.unsplash.com/photo-1583259901105-387e69091d51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
	background-position: center bottom;
}
#seventeen {
	background-image: url("https://images.unsplash.com/photo-1594282486552-05b4d80fbb9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80");
	background-position: center;
}
#eighteen {
	background-image: url("https://images.unsplash.com/photo-1608224873587-81ee37394b4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
	background-position: center top;
}
#nineteen {
	background-image: url("https://images.unsplash.com/photo-1636450525985-f38e86fd4759?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
	background-position: center;
}
#twenty {
	background-image: url("https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
	background-position: center bottom;
}
#twenty-one {
	background-image: url("https://images.unsplash.com/photo-1577942948749-a3dbb5c6db0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
	background-position: center;
}
#twenty-two {
	background-image: url("https://images.unsplash.com/photo-1613931507118-955a5f42e1c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80");
	background-position: center;
}
#twenty-three {
	background-image: url("https://images.unsplash.com/photo-1573504816327-07f3bf7accac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
	background-position: center;
}
#twenty-four {
	background-image: url("https://images.unsplash.com/photo-1497581175344-8a5f1a0142a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80");
	background-position: center top;
}
#twenty-five {
	background-image: url("https://images.unsplash.com/photo-1593980235000-5cf185e8df10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
	background-position: center;
}
#twenty-six {
	background-image: url("https://images.unsplash.com/photo-1551238875-13b9d38454db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1026&q=80");
	background-position: center;
}
#twenty-seven {
	background-image: url("https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
	background-position: center;
}
#twenty-eight {
	background-image: url("https://images.unsplash.com/photo-1601708832940-425f2c21957c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
	background-position: center;
}
#twenty-nine {
	background-image: url("https://images.unsplash.com/photo-1601708832940-425f2c21957c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
	background-position: center;
}
#thirty {
	background-image: url("https://images.unsplash.com/photo-1601708832940-425f2c21957c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
	background-position: center;
}
#thirty-one {
	background-image: url("https://images.unsplash.com/photo-1601708832940-425f2c21957c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
	background-position: center;
}